html {
    background-color: #333;
}
body, h1 {
    margin: 0;
}

header {
    background-color: #aaa;
}
.hero {
    height: 100px;
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/21/Krk_waterfalls.jpg");
    background-attachment: fixed;
    background-size: cover;
}
main {
    background-color: white;
}
footer {
    background-color: #333;
    color: white;
}


@media screen and (min-width: 992px) {
    body {
        background-color: blue;
    }
    article div {
        columns: 3;
    }


}

@media screen and (max-width: 768px) {
    .hero {
        background-attachment: scroll;
    }
    aside {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li:nth-child(odd){
            background-color: cadetblue;
        }
    }
}



